/********* Header *********/
:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --filter-bg-color: #99E2D0;
}

body {
    margin: 0px;
}

h1 {
    font-family: 'shrikhand', sans-serif;
}

h2 {
    font-family: 'roboto', sans-serif;
}

h3 {
    font-family: 'roboto', sans-serif;
}

h4 {
    font-family: 'roboto', sans-serif;
}

p {
    font-family: 'roboto', sans-serif;
}

img {
    object-fit: cover;
}

/********** Loader *********/
.loader {
    position: fixed;
    display: flex;
    place-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffff;
    inset: 0;
    z-index: 1;
    opacity: 0.8;
    animation: loading 5s forwards;
}

#loader-4 span{
    place-items: center;
    text-align: center;
    font-size: 50px;
    width: 60px;
    height: 60px;
    background-color: #9356DC;
    border-radius: 100%;
    margin: 35px 5px;
    opacity: 0;
    font-family: 'shrikhand';
  }
  
  #loader-4 span:nth-child(1){
    animation: opacitychange 1s ease-in-out 0.1s infinite;
    background-color: #FF79DA;
    color: #99E2D0;
  }
  
  #loader-4 span:nth-child(2){
    animation: opacitychange 1s ease-in-out 0.1s infinite;
    color: #99E2D0;
  }
  
  #loader-4 span:nth-child(3){
    animation: opacitychange 1s ease-in-out 0.3s infinite;
    background-color: #FF79DA;
    color: #99E2D0;
  }
  
  #loader-4 span:nth-child(4){
    animation: opacitychange 1s ease-in-out 0.3s infinite;
    color: #99E2D0;
  }

  #loader-4 span:nth-child(5){
    animation: opacitychange 1s ease-in-out 0.5s infinite;
    background-color: #FF79DA;
    color: #99E2D0;
  }

  #loader-4 span:nth-child(6){
    animation: opacitychange 1s ease-in-out 0.5s infinite;
    background-color: #FF79DA;
    color: #99E2D0;
  }

  #loader-4 span:nth-child(7){
    animation: opacitychange 1s ease-in-out 0.5s infinite;
    color: #99E2D0;
  }

  #loader-4 span:nth-child(8){
    animation: opacitychange 1s ease-in-out 0.5s infinite;
    background-color: #FF79DA;
    color: #99E2D0;
  }

  @keyframes opacitychange{
    0%, 100% {
      opacity: 0;
    }
  
    60% {
      opacity: 1;
    }
  }

  @keyframes loading {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
  }

/********** Header *********/
h1 a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: 0;
}

/********** Section position **********/
.position {
    height: 60px;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 35px;
    border-top: lightgrey 3px solid;
}

.icone {
    display: flex;
    width: 20px; 
    justify-content: center;
}

.icone i {
    padding-right: 17px;
    color: #353535;
}

.search {
    background-color: #EAEAEA;
}

.city {
    border: none;
    background-color: #EAEAEA;
    font-size: 16px;
    font-family: 'Roboto';
}

/********* Section 1 *********/
.section-1 {
    width: 100%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
}

.reserve {
    font-size: 24px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 42px;
    padding-right: 58px;
}

.top {
    text-align: center;
}

.top p {
    font-size: 18px;
    color: #353535;
    margin-right: 26px;
    margin-left: 34px;
}

.button-explorer {
    border-radius: 25px;
    padding: 15px;
    opacity: 1;
    background: linear-gradient(to top, var(--main-color), var(--second-color));
    border: transparent;
    color: white;
    margin-bottom: 20px;
    width: 218px;
    margin-right: 75px;
    margin-left: 82px;
}

.button-explorer:hover {
    opacity: 0.8;
    border-radius: 25px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0);
    cursor: pointer;
}

/*********** Fonctionnement **********/
.functionning {
    width: 100%;
}

.tittle {
    padding-left: 20px;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 32px;
    position: relative;
}

.button-1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.number {
    border: #9356DC 2px solid;
    color: white;
    border-radius: 100%;
    background-color: #9356DC;
    width: 24px;
    height: 24px;
    position: absolute;
    line-height: 24px;
    margin-top: 20px;
    right: 97%;
}

.button-1 i {
    position: absolute;
    padding-top: 25px;
    right: 85%;
    color: #7E7E7E;
}

.bt1 {
    border-radius: 20px;
    border: #F7F7F7;
    width: 100%;
    height: 72px;
    padding: 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.bt1 h4 {
    margin: 0;
    text-align: center;
    padding-top: 25px;
    font-size: 16px;
    padding-left: 15px;
}

.button-1 i:hover {
    color: #9356DC;
}

/************ Section 2 ************/
.section-2 {
    width: 100%; 
    background-color: #F6F6F6;
    margin: 0;
    margin-top: 40px;
}

.section-2 h3 {
    margin: 0;
    padding-left: 20px;
    padding-top: 40px;
    font-size: 24px;
}

.restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.card-restaurant {
    width: 100%;
    border-radius: 5px;
    padding-top: 30px;
}

.like {
    width: 20px;
    height: 20px;
}

.like:active {
    background: linear-gradient(to top, var(--main-color), var(--second-color));
    border: none;
    margin: 0;
    padding: 0;
}

.card {
    background-color: white;
    border-radius: 15px;
    margin-left: 14px;
    margin-right: 15px;
    position: relative;
}

.card a {
    text-decoration: none;
    color: black;
}

.new {
    border: #99E2D0 2px solid;
    background-color: #99E2D0;
    color: #008766;
    text-align: center;
    position: absolute;
    border-radius: 2px;
    left: 75%;
    font-size: 14px;
    padding: 7px;
}

.new p {
    font-size: 14px;
}

.card-txt {
    padding-left: 10px;
    position: relative;
}

.card-txt i {
    position: absolute;
    left: 90%;
    margin-top: 20px;
    font-size: 25px;
}

.heart-2 {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    opacity: 0;
    transition: 200ms;
}

.heart-2:hover {
    opacity: 1;
    transform: scale(1.2);
}

.fa-lg {
    line-height: none;
}
.card-tittle {
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
}

.card-subtittle {
    font-size: 17px;
    margin: 0;
    padding-top: 10px;
    font-weight: 300;
}

.card img {
    width: 100%;
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
}

/******** Footer ***********/
.footer {
    width: 100%;
    background-color: #353535;
    color: white;
}

.footer h2 {
    font-family: 'Shrikhand';
    font-size: 18px;
    padding-bottom: 7px;
}

.footercolonne {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 25px;
}

.footer-part-one {
    display: flex;
    align-items: center;
    margin: 0;
    padding-bottom: 7px;
}

.footer-part-one p {
    padding-left: 11px;
    margin: 0;
}

.footer-part-two {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}

.footer-part-two p {
    padding-left: 6px;
}

.footer-part-three {
    padding-bottom: 7px;
}

.footer-part-four {
    padding-bottom: 7px;
}

.footer-txt {
    margin: 0;
}

/********* Media queries *******/
@media (min-width: 768px) {
/******* Section 1 *********/
.reserve {
    font-size: 40px;
}
/******* Fonctionnement **********/
.buttons {
    flex-direction: row;
    justify-content: space-between;
}

.button-1 {
    position: relative;
    margin-right: 20px;
    margin-bottom: 0;
}

.number {
    right: 95%;
}

.button-1 i {
    right: 86%;
}

/******** Section 2 ************/
.restaurant {
    flex-direction: row;
    flex-wrap: wrap;
}

.card-restaurant {
    width: 50%;
}

/********** Footer **********/
.footercolonne {
    width: 100%;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 20px;
    justify-content: end;
    padding-left: 0px;
}

.footer h2 {
    order: 1;
    font-size: 18px;
    padding-left: 40px;
    margin-right: 20px;
}

.footer-part-one {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.footer-part-two {
    display: flex;
    margin-right: 25px;
}

.footer-txt {
    padding-left: 5px;
}

/********** Media queries ******/
@media (min-width: 1024px) {
/********** Fonctionnement ********/
.tittle {
    padding-left: 180px;
}

.buttons {
    margin-left: 200px;
    margin-right: 207px;
}

.bt1 h4 {
    padding-left: 25px;
}

.button-1 i {
    padding-right: 5px;
    right: 83%;
}

/********** Section 2 ********/
.section-2 h3 {
    padding-left: 180px;
}

.restaurant {
    padding-left: 175px;
    padding-right: 175px;
    justify-content: space-between;
    width: auto;
}

.card-restaurant {
    width: 45%;
}

.card {
    margin: 0;
}
/********** Footer *********/

}