:root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --filter-bg-color: #99E2D0;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h4 {
    font-family: 'Roboto', sans-serif;;
    font-size: 18px;
}

body {
    margin: 0;
}

img {
    object-fit: cover;
}

/******* Header ***********/
.header {
    width: 100%;
}

.header i {
    position: absolute;
    padding-top: 28px;
    padding-left: 23px;
    color: black;
}

h1 a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 5px;
    text-align: center;
}
/******* Section picture **********/
.picture img {
    width: 100%;
    height: 275px;
    position: absolute;
    margin-top: 9px;
}
/******* Section Menu **********/
.section-menu {
    width: 100%;
    background-color: #F7F7F7;
    position: absolute;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 220px;
}

.section-menu i {
    display: flex;
    float: right;
    margin-top: 35px;
    margin-right: 20px;
}

h2 {
    margin: 0;
    padding-top: 20px;
    margin-left: 13px;
}

.menu {
    margin-right: 13px;
    margin-left: 13px;
}

h3 {
    font-size: 16px;
    border-bottom: #99E2D0 3px solid;
    width: 40px;
    font-weight: 300;
}

.starter {
    padding-bottom: 12px;
}

.dish {
    margin-bottom: 12px;
}

.dessert {
    margin-bottom: 12px;
}

.button1 {
    width: 100%;
    height: 69px;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    border: #FFFFFF;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

h4 {
    margin: 0;
    padding-top: 12px;
}

.price-one {
    padding-top: 41px;
}

.button1 p {
    margin: 0;
    padding-top: 7px;
    position: absolute;
    font-size: 15px;
}

.price {
    font-family: 'Roboto';
    font-size: 15px;
}

.button2 {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button-explorer {
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(to top, var(--main-color), var(--second-color));
    border: transparent;
    color: white;
    margin-bottom: 40px;
    margin-top: 28px;
    width: 186px;
}

/******* Footer ********/
.footer {
    width: 100%;
    background-color: #353535;
    color: white;
    position: absolute;
    margin-top: 1270px;
}

.footer h2 {
    font-family: 'Shrikhand';
    font-size: 18px;
    margin: 0;
}

.footercolonne {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-bottom: 25px;
}

.footer-part-one {
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 7px;
}

.footer-part-one p {
    padding-left: 11px;
    margin: 0;
}

.footer-part-two {
    display: flex;
    align-items: center;
    padding-bottom: 7px;
}

.footer-part-two p {
    padding-left: 6px;
}

.footer-part-three {
    padding-bottom: 7px;
}

.footer-txt {
    margin: 0;
}

/******** Media queries **********/
@media (min-width: 768px) {
/******* Section menu ********/
.section-menu {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.price {
    padding-left: 90%;
}

.section-menu i {
    justify-content: center;
    position: absolute;
    margin-left: 78%;
}

.section-menu h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/******* Footer ********/
.footercolonne {
    width: 100%;
    flex-direction: row;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 20px;
    justify-content: end;
    padding-left: 0px;
}

.footer h2 {
    order: 1;
    font-size: 18px;
    padding-left: 40px;
    margin-right: 20px;
    padding: 0;
}

.footer-part-one {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.footer-part-two {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.footer-txt {
    padding-left: 5px;
}
}

@media (min-width: 1024px) {
/********* Section menu *********/
.section-menu {
    padding-top: 20px;
}

.section-menu i {
    margin-left: 70%;
}

}